body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.menubar {
    float: left;
    list-style-type: none;
    margin: 0;
    padding-left: 10%;
}

.menubar ul {
    list-style-type: none;
}

.topelement {
    display: none;
}

.left{
    background-color: #90c;
    min-height: 10px;
    min-width: 10px;
}

.right{
    background-color: #00c853;

}

/*
.wrapper div {
    float: left;
    list-style-type: none;
    margin: 0;
    padding-left: 10%;
}

.wrapper div div{
    list-style-type: none;
}*/
