<div class="container">
    <label for="itemInput">Lav et nyt item</label>
    <input type="text" name="itemInput" [(ngModel)]="inputName">
    <button type="button" class="btn" (click)="addItem(inputName)">+</button>
</div>

<!--
<div class='wrapper'>
    <div class='container left' [dragula]='"another-bag"' [dragulaModel]='many'>
        <div *ngFor='#text of many' [innerHtml]='text'></div>
    </div>
    <div class='container right' [dragula]='"another-bag"' [dragulaModel]='many2'>
        <div *ngFor='#text of many2' [innerHtml]='text'></div>
        &nbsp;
    </div>
</div>
-->

<!--http://valor-software.com/ng2-dragula/index.html -->
<!--https://github.com/valor-software/ng2-dragula -->
<!--<div class="wrapper" >
    <div [dragula]='"first-bag"' [dragulaModel]='itemArray' style="border: 1px solid #7896b1;">
        <h3>Backlog </h3>
        <div *ngFor="let item of itemArray" [innerHtml]='item.itemName'></div>
    </div>
    <div [dragula]='"first-bag"' [dragulaModel]='inprogressArray'>
        <h3>In progress</h3>
        <div *ngFor="let item of inprogressArray" [innerHtml]='item.itemName'></div>
    </div>
    <div [dragula]='"second-bag"' [dragulaModel]='reviewArray'>
        <h3>Review</h3>
        <div *ngFor="let item of reviewArray" [innerHtml]='item.itemName'></div>
    </div>
    <div [dragula]='"first3-bag"' [dragulaModel]='doneArray'>
        <h3>Done</h3>
        <div *ngFor="let item of doneArray" [innerHtml]='item.itemName'></div>
    </div>
</div>-->


<div class="container">
    <ul>
        <li class="menubar">
            <ul [dragula]='"bag-one"' [dragulaModel]='itemArray'>
                <h3 class="doNotMove">Backlog size {{itemArraySize}}</h3>
                <li *ngFor="let item of itemArray">
                        {{item.itemName}}
                </li>
            </ul>
        </li>
        <li class="menubar bag2">
            <ul [dragula]='"bag-one"' [dragulaModel]='inprogressArray'>
                <h3 class="doNotMove">In progress size {{inprogressArraySize}}</h3>
                <li *ngFor="let progress of inprogressArray" >
                        {{progress.itemName}}
                </li>
            </ul>
        </li>
        <li class="menubar bag3" >
            <h3 class="doNotMove">Review size {{reviewArraySize}}</h3>
            <ul [dragula]='"bag-three"'>
                <li class="scrummenu" *ngFor="let review of reviewArray" [dragula]='"first-bag"' [dragulaModel]='reviewArray'>
                    {{review.itemName}}
                </li>
            </ul>
        </li>
        <li class="menubar bag4" [dragula]='"bag-four"'>
            <h3 class="doNotMove">Done size {{doneArraySize}}</h3>
            <ul>
                <li class="scrummenu" *ngFor="let done of doneArray" [dragula]='"first-bag"' [dragulaModel]='doneArray'>
                    {{done.itemName}}
                </li>
            </ul>
        </li>
    </ul>
</div>
