<div class="container">
    <label for="itemInput">Lav et nyt item</label>
    <input type="text" name="itemInput" [(ngModel)]="inputName">
    <button type="button" class="btn" (click)="addItem(inputName)">+</button>
</div>

<!--http://valor-software.com/ng2-dragula/index.html -->
<!--https://github.com/valor-software/ng2-dragula -->
<!--<div class="wrapper" >
    <div [dragula]='"first-bag"' [dragulaModel]='itemArray' style="border: 1px solid #7896b1;">
        <h3>Backlog </h3>
        <div *ngFor="let item of itemArray" [innerHtml]='item.itemName'></div>
    </div>
    <div [dragula]='"first-bag"' [dragulaModel]='inprogressArray'>
        <h3>In progress</h3>
        <div *ngFor="let item of inprogressArray" [innerHtml]='item.itemName'></div>
    </div>
    <div [dragula]='"second-bag"' [dragulaModel]='reviewArray'>
        <h3>Review</h3>
        <div *ngFor="let item of reviewArray" [innerHtml]='item.itemName'></div>
    </div>
    <div [dragula]='"first3-bag"' [dragulaModel]='doneArray'>
        <h3>Done</h3>
        <div *ngFor="let item of doneArray" [innerHtml]='item.itemName'></div>
    </div>
</div>-->


<div class="container">
    <ul>
        <li class="menubar" >
            <h3>Backlog </h3>
            <ul>
                <li class="scrummenu" *ngFor="let item of itemArray" [dragula]='"first-bag"' [dragulaModel]='itemArray'>
                    {{item.itemName}}
                </li>
            </ul>
        </li>
        <li class="menubar">
            <h3>In progress</h3>
            <ul>
                <li class="scrummenu" *ngFor="let progress of inprogressArray" [dragula]='"first-bag"' [dragulaModel]='inprogressArray'>
                    {{item.itemName}}
                </li>
            </ul>
        </li>
        <li class="menubar">
            <h3>Review</h3>
            <ul>
                <li class="scrummenu" *ngFor="let review of reviewArray" [dragula]='"first-bag"' [dragulaModel]='reviewArray'>
                    {{item.itemName}}
                </li>
            </ul>
        </li>
        <li class="menubar"><h3>Done</h3>
            <ul>
                <li class="scrummenu" *ngFor="let done of doneArray" [dragula]='"first-bag"' [dragulaModel]='doneArray'>
                    {{item.itemName}}
                </li>
            </ul>
        </li>
    </ul>
</div>
