body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.menubar {
    float: left;
    list-style-type: none;
    margin: 0;
    padding-left: 10%;
    min-height: 10px;
    min-width: 10px;
}

.menubar ul {
    list-style-type: none;
    padding-left: 0;
    min-height: 10px;
    min-width: 10px;
}

.projects {
    list-style-type: none;
}

.sprintsmenu {
    list-style-type: none;
    padding-left: 0;
}