<div class="container">
    <h1>Create New User</h1>
    <form>
        <div class="form-group">
            <label for="email">E-mail</label>
            <input type="email" class="form-control" required
                   [(ngModel)]="model.email" name="email" #spy
                   pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                   autofocus>
        </div>
        <div *ngIf="userInUse" class="alert alert-dismissible fade in" role="alert">
            The user is already in use, please try another
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" required
            [(ngModel)]="model.password" name="password">
        </div>
        <div class="form-group">
            <label for="passwordRetype">Retype password</label>
            <input type="password" class="form-control" required
                   [(ngModel)]="retypedPassword" name="passwordRetype">
        </div>
        <div *ngIf="!passwordMatching" class="alert alert-dismissible fade in" role="alert">
            Passwords not matching!
        </div>
        <button type="submit" class="btn btn-default"
                (click)="createUser(model.email, model.password)">Submit</button>
    </form>
    <router-outlet></router-outlet>
</div>